:root{
  --dark: #000814;
  --mid-dark: #001D3D;
  --mid: #003566;
  --brown: #5f5449;
  --white: #f2f2f2;
}


* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-family:Montserrat;
}

#app {
  background-image: linear-gradient(to bottom, black,  var(--mid-dark), black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#taskbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 10%;
  color: var(--white);
  font-size: xx-large;
}

#taskbar-title{
  color: var(--white)
}

#img {
  height: 85%;
  width: 80%;
  margin-bottom: 2em;
  object-fit: contain; 
}

.taskbar-btn {
  height: 10em;
  width: 18em;
  background-image: linear-gradient(to bottom,var(--dark), var(--mid-dark), var(--mid));
  color: var(--white);
  border: thin solid var(--mid-dark);
  border-radius: 0 0 80px 20px;
  transition: transform 1s ease, border-radius 0.7s ease;
}

.taskbar-btn:hover{
  background: var(--white);
  color: var(--mid);
  transform: scale(1.4);
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--dark);
  color: var(--white);
  border: 2px solid var(--mid);
  border-radius: 20px;
  height: 85%;
  width:80%;
  margin-bottom: 2em;
  padding: 4em;
  gap: 2em;
}

#chess-js{
  font-size: 0.5em;
}

#input-header{
  align-self: center;
  font-size: 50px;
}

.input-label{
  font-size: x-large;
  font-weight: bold;
}

.input-field{
  padding: 1em;
  font-size: larger;
  background-color: var(--mid);
  color: white;
}

.required-field {
  color: red;
  display: inline;
  margin-right: 0.5em; /* Ensure the asterisk is always displayed */
}

#pgn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  gap: 2em;
}

#pgn-input{
  width: 100%;
}

#date-winner-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  gap: 2em;
}

#status-msg {
  margin-left: auto;
  font-size: x-large;
  font-weight: bold;
  color: yellow;
}

.input-btn{
  width: 10%;
  height: 100%;
  font-size: larger;
  font-weight: bold;
  background-color: var(--mid-dark);
  color: var(--white);
  padding: 0.3em;
  border: 1px solid var(--white);
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.input-btn:hover{
  background-color: var(--white);
  color: var(--dark);
  transform: scale(1.2);
  
}

#submit-btn{
  margin-left: auto;
}

#fenContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--mid);
  width: 100%;
  height: 70%;
  border: 4px solid var(--dark);
  font-size: larger;
  font-weight: bold;
  gap: 1em;
  overflow-y: scroll;
}



#fenItem{
  background-image: linear-gradient(to bottom, var(--dark),  var(--mid-dark));
  height: 2em;
  padding: 0.5em;
  margin: 0;
}

#library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: white;
  border: 2px solid var(--mid);
  border-radius: 20px;
  height: 85%;
  width:80%;
  margin-bottom: 2em;
  padding: 4em;
  gap: 2em;
}

#library-header{
  align-self: center;
  font-size: 50px;
}

#library-display {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 95%;
  background-color: var(--mid);
  gap: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  overflow-y:scroll;
}

#game{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to bottom, var(--dark),  var(--mid-dark));
  color: white;
  height: 3em;
}

.list-btn{
  background-color: var(--mid);
  border: thin solid var(--white);
  border-radius: 40px;
  color: var(--white);
  font-weight: bold;
  height: 4em;
  width: 8em;
  transition: transform 0.5s ease;
}

.list-btn:hover{
  background-color: var(--white);
  color: var(--mid);
  transform: scale(1.4);
}


#delete-btn:hover{
  background-color:rgb(70, 0, 0);
  border: thin solid red;
  color: red;
  font-weight: bolder;
} 

#game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: white;
  border: 2px solid var(--mid);
  border-radius: 20px;
  height: 85%;
  width:80%;
  margin-bottom: 2em;
  padding: 4em;
  gap: 2em;
}

#edit-btn{
  scale: 1.5;
}

#game-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  height: 10%;
  width: 90%;
}

#pgn-display{
  display: flex;
  flex-direction: column;
  background-color: var(--mid);
  height: 30%;
  width: 90%;
  padding: 1em;
  overflow-y: scroll;
  font-size: x-large;
}

#fen-display{
  display: flex;
  flex-direction: column;
  background-color: var(--mid);
  height: 50%;
  width: 90%;
  padding: 1em;
  gap: 1em;
  overflow-y: scroll;
  font-size: x-large;
}